@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Oswald:wght@500&display=swap');

html, body { 
    height: 100vh; 
    background-color: #efefef;
}

.page{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {  
    height: 500px;
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

.content {
    width: 350px;
}

.board { 
    height: 420px;
    width: 420px; 
}

.title {  
    font-family: 'Oswald', sans-serif;
    font-size: 31px;
    color: #E02041;
    border-bottom: 1px solid #909090;   
}

.text { 
    grid-area: text; 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #202020;
}

.buttons { 
    grid-area: buttons; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    margin: 0 0 10px 0;
}

a {
    text-decoration: none;
    color: #1A73E8;
}

button {
    height: 50px;
    width: 170px;
    background-color: #E02041; 
    border: none;
    border-radius: 6px;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

td {
    margin: auto;
    border: 1px solid #606060;
    text-align: center;
    vertical-align: middle;  
}

.top {
    border-top: 3px solid #202020;
}

.right {
    border-right: 3px solid #202020;
}

.bottom {
    border-bottom: 3px solid #202020;
}

.left {
    border-left: 3px solid #202020;
}